@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}


body{
  font-family: "Inter", sans-serif;
}
.active{
  color:black;
  font-weight: bold;

}

.service-linear{
  background: rgb(3,45,99);
background: linear-gradient(42deg, rgba(3,45,99,1) 30%, rgba(7,108,236,1) 130%, rgba(5,77,168,1) 100%);
}
.service-linearr{
  background: rgb(3,45,99);
background: linear-gradient(42deg, rgba(3,45,99,1) 20%, rgba(7,108,236,1) 130%, rgba(5,77,168,1) 100%);
}